.nav{
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-right: 5rem;
  padding-top: 1rem;
  background-color: whitesmoke;
  
}
.nav img{
    
    width: 10%;  
    display: flex;
    padding-left: 5%;
}
.list{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.list a {
  text-decoration: underline;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}